body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

body html {
  overflow: hidden;
}

.player {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1f1f1;
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#splash {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
}

#innerSplash {
  width: 66%;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-top: 40px;
}

#heading {
  color: #f1f1f1;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

#crossfade {
  position:relative;
  margin:0 auto;
}

#crossfade img {
  position:absolute;
  left:0;
/*  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;*/
}

#crossfade img.transparent {
opacity:0;
}

#audioInner {
  position:absolute;
}

#albumArtContainer {
  float: left;
}

#albumArt {
  padding-top: 40px;
  padding-left: 40px;
}

#songInfo {
  float: left;
  padding-top: 240px;
  padding-left: 80px;
}

.player video {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.progress {
  display: none;
}

#progress-outer {
  height: 12px;
  background-color: rgba(255,255,255,0.2);
  margin-bottom: 32px;
  margin-left: 72px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
}

#progress {
  height: 12px;
  background-color: rgba(0,153,204,0.8);
  margin-bottom: 32px;
  margin-left: 72px;
  position: fixed;
  width: 0%;
  bottom: 0px;
  overflow: hidden;
}

#progress-state {
  position: fixed;
  bottom: 0px;
  overflow: hidden;
}

#progress-img {
  max-width:64px;
  max-height:64px;
}

.fullscreen-center {
  width: 100%;
  height: 100%;
  position: absolute;
}

#volume {
  display: none;
}

.volume-bar {
  background-color: white;
  margin-left:16px;
}

.volume-bar-transparent {
  background-color:rgba(255,255,255,0.3);
}

.watermark {
  opacity: .8;
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  margin-bottom: 64px;
  margin-left: 960px;
  font-size: larger;
}

#watermark {
  max-width:128px;
  max-height:128px;
}

#allcast-title {
  color: white;
  font-size: 72px;
}

.splash-stores {
  margin-top: 30px;
}